<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Travel Insurance Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="WebPagesCheckTest">
        <packages>
            <package name="tests"/>
        </packages>
    </test>
</suite>
